@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure all body elements have a black background */
body {
  background-color: #000000; /* Black background */
}



/* Custom utilities for 3D effects and backface visibility */
@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
